*{
    margin: 0;
    padding: 0;
}
/* common style */
.quicksand{
    font-family: "Quicksand", serif;
}

.body{
    padding-top: 12px;
    padding-bottom: 20px;
    background: rgb(247,247,247);
}

.section-margin{
    margin-left: 130px;
    margin-right: 130px;
}


/* navbar style */

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-img-text img{
    width: 60px;
    height: 60px;
    margin-right: 13px;
}

.nav-img-text h1{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu li{
    list-style: none;
}

.nav-menu a{
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

#home{
    color: rgb(254, 163, 1);
}

#about{
    color: rgb(1, 172, 253);
}

#facilities{
    color: rgb(5, 212, 223);
}

#admission{
    color: rgb(93, 88, 239);
}

.nav-btn{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 15px 50px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

#menu-icon{
    display: none;
}

.hr-line{
    display: none;
}


/* hero section style */

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.hero-text-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.hero-heading{
    font-size: 56px;
    font-weight: 700;
}

.orangr-text{
    color: rgb(254, 163, 1);
}

.blue-text{
    color: rgb(1, 172, 253);
}

.hero-para{
    font-size: 20px;
    font-weight: 400;
}

.hero-btn{
    border-radius: 12px;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    padding: 15px 50px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.hero-img{
    width: 70%;
}

.hero-img img{
    width: 100%;
}




/* media query */

/* query for mid-device */

@media screen and (max-width: 976px){

    /* common style */

    .section-margin{
        margin-left: 20px;
        margin-right: 20px;
    }
    /* navbar */


    .nav-img-text img{
        width: 40px;
        height: 40px;
    }
    
    .nav-img-text h1{
        font-size: 22px;
    }

    .nav-btn{
        border-radius: 12px;
        background: rgb(254, 163, 1);
        padding: 10px 30px;
        border: none;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 500;
    }

     /* hero section */

    .hero-img{
        width: 70%;
    }
    
    .hero-img img{
        width: 100%;
    }
    
    .hero-text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    
    .hero-heading{
        font-size: 40px;
        font-weight: 700;
        text-align: start;
    }

    .hero-para{
        font-size: 18px;
        font-weight: 400;
        text-align: start;
    }

    .hero-btn{
        padding: 15px 40px;
        font-size: 18px;
    }

}

    /* query for phone */

@media screen and (max-width: 576px){

    /* common style */

    .section-margin{
        margin-left: 10px;
        margin-right: 10px;
    }
    /* navbar */

    .nav-img-text img{
        width: 40px;
        height: 40px;
    }
    
    .nav-img-text h1{
        display: none;
    }

    .nav-menu{
        display: none;
    }

    .nav-btn{
        display: none;
    }
    
    #menu-icon{
        display: block;
        font-size: 25px;
        margin-right: 20px;
    }

    .hr-line{
        display: block;
        margin-top: 12px;
        border: 1px solid rgb(254, 163, 1);
    }

    /* hero section */

    .hero-container{
        flex-direction: column-reverse;
    }

    .hero-img{
        width: 70%;
    }
    
    .hero-img img{
        width: 100%;
    }
    
    .hero-text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .hero-heading{
        font-size: 32px;
        font-weight: 700;
        text-align: center;
    }

    .hero-para{
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }

    .hero-btn{
        padding: 10px 30px;
        font-size: 16px;
    }
    

}

 